{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <br>
        <h2>About</h2>
        <hr />
        <p>
            MoneyParce is a web application that gives
            users the ability to easily track their
            expenses, set budgets, and manage their
            finances. Users can securely login from
            any device, enter their transactions, create
            and edit their budgets, and receive tips
            from AI. Some features included are spending
            alerts, graphical reports, financial forecasts,
            and AI assistance for immediate advice. Admins
            can manage the user accounts while also
            ensuring the user’s privacy.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/reck-buzz.png' %}" class="img-fluid rounded" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}