{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>MoneyParce</h2>
    <p>Your own personal finance organizer!</p>
    <br>
    <div class="col-md-6 mx-auto mb-3 text-center">
      <img src="{% static 'img/BlessedBuzz.jpg' %}" style="max-height:400px;height:100%" class="home-img img-fluid rounded" alt="About Movies Store" />
    </div>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="col mx-auto text-center mb-3">
      <h4>Welcome to the best finance organizer!!</h4>
    </div>
  </div>
</div>
{% endblock content %}