{% extends 'base.html' %}
{% block content %}
<div class="p-3">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-6 mx-auto mb-3">
            <br>
            <h2>Transactions</h2>
            <br>
            <br>
            {% if messages %}
              <div class="mb-3">
                {% for message in messages %}
                  <div class="alert 
                      {% if message.tags == 'error' %}alert-danger
                      {% elif message.tags == 'success' %}alert-success
                      {% elif message.tags == 'warning' %}alert-warning
                      {% elif message.tags == 'info' %}alert-info
                      {% endif %}">
                    {{ message }}
                    {% if message.tags == 'error' %}
                    <span data-bs-toggle="tooltip" title="Tip: You've gone over your budget. Don't stress! Look at where you overspent and make a plan to not spend anymore.">
                      <i class="bi bi-info-circle-fill" style="color: rgb(0, 0, 70); font-size: 20px;"></i>
                    </span>                    
                   {% elif message.tags == 'warning' %}
                   <span data-bs-toggle="tooltip" title="Tip: You're getting close to your budget! Check your recent spendings and see where you can hold off on non-essential purchases.">
                    <i class="bi bi-info-circle-fill" style="color: rgb(0, 0, 70); font-size: 20px;"></i>
                  </span> 
                  {% elif message.tags == 'info' %}
                      <span data-bs-toggle="tooltip" title="Tip: You've met your budget! Great job staying on track. Make sure not to make any unnecessary purchases!">
                        <i class="bi bi-info-circle-fill" style="color: rgb(0, 0, 70); font-size: 20px;"></i>
                      </span>
                  {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
           {% if user_transactions %}
              <div class="card bg-dark border-light shadow text-white mb-4">
                <div class="card-body">
                  <h5 class="card-title">Your Transaction History</h5>
                  <ul class="list-group list-group-flush text-white">
                    {% for transaction in user_transactions %}
                    <li class="list-group-item bg-transparent border-bottom text-white">
                      <strong>{{ transaction.action|title }}</strong>: ${{ transaction.amount }} <small>({{ transaction.timestamp }})</small>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
            <h4>Total Balance: ${{ total_balance }}</h4>
            <br>
            <div class="card bg-dark text-white border-light shadow">
              <div class="card-body">
                <h5 class="card-title">Make a Transaction</h5>
                <form method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    {{ form.as_p }}
                  </div>
                  <button class="button-26" type="submit">Submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
