{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <br>
        <h2>Budgets</h2>
        <br>
        <br>
        <a href="{% url 'create_budget' %}">
          <button class="button-26" role="button">
            + Add Budget
          </button>
        </a>
        <ul>
          <br>
          {% for budget in budgets %}
            <li>
              <strong>{{ budget.name }}</strong>: ${{ budget.amount }} ({{ budget.category }})
              <a href="{% url 'edit_budget' budget.id %}" >
                <button class="button-26" role="button">
                  Edit
                </button>
              </a>
              <a href="{% url 'delete_budget' budget.id %}">
                <button class="button-26" role="button">
                  Delete
                </button>
              </a>
            </li>
          {% empty %}
            <li>No budgets found.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
