{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <br>
        <h2>{{ action }} Budget</h2>
        <br>
        <br>
        <div class="card shadow-lg p-4 bg-dark text-white border-light rounded-4">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2">
              <button class="btn btn-warning text-dark fw-semibold" type="submit">{{ action }}</button>
              <a href="{% url 'budget_list' %}" class="btn btn-outline-light">Back to List</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
